<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.edu.tarc.fragment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BiHuaActivity"
            android:label="笔画教学" />
        <activity
            android:name=".LearningActivity"
            android:label="Learning Materials" />
        <activity
            android:name=".AboutActivity"
            android:label="About Us" />
        <activity
            android:name=".ChengYuActivity"
            android:label="成语" />
        <activity
            android:name=".Pop"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity android:name=".SurvChineseActivity"
            android:label="Survival Chinese"/>

    </application>

</manifest>