<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.edu.tarc.fragment">

    <application
        android:allowBackup="true"
        android:icon="@drawable/appimg"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
        </activity>

        <activity android:name=".SplashRunViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BiHuaActivity"
            android:label="@string/stroketitle"
            android:parentActivityName=".LearningActivity"/>
        <activity
            android:name=".LearningActivity"
            android:label="@string/learningtitle" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/abouttitle" />
        <activity
            android:name=".ChengyuRunActivity"
            android:label="@string/proverb" />
        <activity
            android:name=".SurvChineseActivity"
            android:label="@string/survival" />
        <activity
            android:name=".SurvChineseBasicActivity"
            android:label="@string/basic" />

        <activity android:name=".SurvChineseFlirtActivity"
            android:label="@string/flirt" />

        <activity android:name=".SurvChineseDirectionActivity"
            android:label="@string/direction" />
        <activity android:name=".SurvChineseFoodActivity"
            android:label="@string/food" />
        <activity android:name=".SurvChineseHealthActivity"
            android:label="@string/health" />
        <activity android:name=".SurvChineseEntertainmentActivity"
            android:label="@string/entainment" />
        <activity android:name=".SurvChineseEmergencyActivity"
            android:label="@string/emergency" />
        <activity android:name=".SurvChineseShoppingActivity"
            android:label="@string/shopping" />
        <activity
            android:name=".ExamActivity"
            android:label="@string/testtitle"
            />
        <activity
            android:name=".ResultActivity"
            android:label="@string/result"
            />
    </application>

</manifest>